main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}
.profile_img{
    height: 30vh;
}
#profile_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#name{
    text-align: center;
    margin-top: 2em;
}
#slack{
    display: none;
}
.links{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    
}
.links a {
    text-decoration: none;
    color: black;
    background: #dee2e6;
    padding: 10px;
    margin: 5px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

a .link-text{
}