main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_img{
    height: 30vh;
}
#profile_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#name{
    text-align: center;
    margin-top: 2em;
}
#slack{
    display: none;
}
.links{
    text-align: center;
    padding: 15px;
    width: 85vw;
    
}
.links a {
    text-decoration: none;
    color: black;
}

a .link-text{
    background: #dee2e6;
    padding: 10px;
    margin: 3px;
    border-radius: 7px;
}