.footer{
  display: flex;
  flex-direction: column;
  margin-top: 7em;
  text-align: center;

}
 @media screen and  (min-width : 650px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        border-top: 1px solid lightgray;
        height: 10vh;
    }

    .first{
        display: flex;
        justify-content: space-around;
        gap: 15em;
    }
} 
.first{
    text-align: start;
    padding: 10px;
}
.first p{
    color: gray;
}
.second{
    display: flex;

}
#i4g{
    width: 35px;
    height: 35px;
    margin-top: 1.5em;
}
.ing{
    width: 120px;
    text-align: start;
    height: 60px;
    font-size: 15px;
    font-weight: 900;
}